body {
    font-family: Arial; font-size: 18px;
}

header, footer {
    background-color: rgb(238, 159, 40);
}

.site-title {
    color: rgb(153, 28, 12);
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

ul {
    list-style-type: square;
}

li:nth-child(odd) {
    background-color: rgb(230, 219, 75);
}

a:link {
    text-decoration: none;
    background-color: rgb(252, 143, 54);
    border: darkgoldenrod;
}

a:hover {
    background-color: rgb(255, 230, 0);
}