html{
    background-color: rgb(138, 189, 179);
    box-sizing: border-box;
}

body{
    background-color: rgb(196, 221, 221);
    font-family: sans-serif, Arial, Helvetica;
    margin-left: 10%;
    margin-right: 10%;
    /* position for title to wrap the img */
    position: absolute;
    width: 1024px;
}
/* image and site name changes in header */
header{
    font-size: 32px;
    color: #f7f7f7;
}
header img{
    width: 1024px;
}
/* title position change */
.fish{
    position: absolute;
    padding-left: 30%;
    padding-top: 160px;
}
/* nav boxes transform */
.box {
    width: 33%;
    max-width: 333px;
    color: rgb(0, 0, 0);
    /* text transform inside nav boxes */
    text-transform: uppercase;
    float: left;
    text-align: center;
    font-size: 25px;
    /* for nav boxes to be right under main img */
    margin-top: -30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* borders between nav elements */
.box2 {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.overall {
    padding: 10px;
}

/* article transform */
.container{
    width: 100%;
    margin: 0 auto;
    /* text wrap around the img */
    float: left;
    font-size: 18px;
  }
  img{
    width: 260px;
    /* space between img and text */
    margin-right: 20px;
    margin-bottom: 30px;
    float: left;
  }

  .facts{
      float: left;
  }
/* changin position of facts, position under section name */
  .list {
    margin-left: -25px;
    margin-top: -2px;
  }

  .continfo{
      float: left;
  }

  /* transform input text area in contact info part */
  input[type="text"] {
    width: 99%;
    height: 30px;
}

 input[type="email"] {
    width: 99%;
    height: 30px;
}

 textarea {
    width: 99%;
    height: 100px;
}
/* border for contact info part */
  .info1{ 
    width: 970px;
    height: 500px;
    border: 1px solid black;
    padding: 15px;
    font-size: 18px;
  }

  h4 {
      font-size: 20px;
  }

  h3 {
      font-size: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  h2 {
      font-size: 34px;
  }
/* space between lines in contact info part */
  .formname{
      padding-top: 20px;
      padding-bottom: 15px;
  }

  .line{
      width: 900px;
  }
/* button design */
  button{
      color: rgb(0, 0, 0);
      text-transform: uppercase;
      font-size: 10px;
      padding: 10px;
      border: 1px solid rgb(0, 0, 0);
      background: none;
      margin-top: 15px;
      margin-bottom: 15px;
  }

  footer{
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      float: right;
  }