body {
    background-color: rgb(207, 207, 207);
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.bolded {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.italics {
    font-style: italic;
}

